<% first = true unless local_assigns.key? :first -%>
<div class="form_record">
  <%= render 'form_messages' %>
  <%= render 'form', {columns: columns, form_action: form_action, scope: scope} %>
  <%= batch_create_multiple_remove_link unless first %>
</div>
