.active-scaffold .multiple .sub-form-record .errorExplanation {
  clear: left;
  margin-top: 10px;
}
.active-scaffold .multiple .sub-form-record {
  border-top: 1px solid #7FCF00;
}
.active-scaffold .multiple thead + .sub-form-record {
  border-top: 0;
}
.batch-create-rows {
  float: right;
}
.batch-create-rows input {
  width: 4em;
}
.active-scaffold-header div.actions > a.batch_new {
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-image: image-url("active_scaffold/add.png");
  margin: 0;
  padding: 5px 5px 5px 25px;
}
.active-scaffold .active-scaffold .active-scaffold-header div.actions > a.batch_new {
  padding-left: 25px;
}
